body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(145, 187, 227);
}

.option{
    display: none;
    width: 85%;
    height: 70%;
    text-align: center;
}

.option button{
    color: rgb(192, 255, 233);
    -webkit-text-stroke: 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vh;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    height: 45%;
    width: 35%;
    transform: translate(-50%, -50%);
    background-size:cover;
}

.nameform{
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#name{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30%;
    width: 50%;
    background-color: rgb(190, 240, 232);
    border-radius: 20px;
}

.cooked{
    left: 30%;
    background-color: rgb(127, 244, 255);
}

.raw{
    left: 70%;
    background-color: rgb(127, 244, 255);
}

.sliced{
    background: url('./assets/istockphoto-92252755-612x612.jpg');
}

.whole{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.crazy{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.fried{
    background: url('./assets/f-d_defee56107d3be36264ea8e15b2ce235fcf02c50045702987f62cc9d+IMAGE_TINY+IMAGE_TINY.1');}

.baked{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.bland{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.flavored{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.fries{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.chips{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.wedges{
    background: url('./assets/MG_0104-3.jpg');}

.rotifera{
    background: url('./assets/Mikrofoto.de-Raedertier-14.jpg');
}

.nice{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.bully{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.loaded{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.bakedsweet{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.blandbaked{
    background: url('./assets/scanning-electron-micrograph-soybean-cyst-nematode-egg.webp');}

.sweetfries{
    background: url('./assets/Chordata.png');}

.straight{
    background: url('./assets/sea-stars-starfish-Caribbean-sea.webp');}

.regularfry{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.segmentation{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.curlyfry{
    background: url('./assets/coral-2_lg.jpg');}

.mustache{
    left: 30%;
    background-color: rgb(127, 244, 255);}

.no{
    left: 70%;
    background-color: rgb(127, 244, 255);}

.lays{
    background: url('./assets/7449814_orig.jpg.crdownload');}

.pringles{
    background: url('./assets/hermitcrab.jpg');}




.home {
    width: 50%;
    height: 30%;
    border: none;
    font-size: 8vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    color: rgb(5, 5, 4);
    background: rgb(15, 130, 180);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.home:before {
    content: '';
    background: linear-gradient(45deg, rgb(50, 214, 192), rgb(57, 209, 255), rgb(92, 125, 246));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.home:hover:before {
    opacity: 1;
}

.home:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 130, 180);
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}